<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EBookStoreAddBook</servlet-name>
        <servlet-class>servlets.EBookStoreAddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EBookStoreDeleteBooks</servlet-name>
        <servlet-class>servlets.EBookStoreDeleteBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EBookStoreUpdateBooks</servlet-name>
        <servlet-class>servlets.EBookStoreUpdateBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EBookStoreAddBook</servlet-name>
        <url-pattern>/EBookStoreAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EBookStoreDeleteBooks</servlet-name>
        <url-pattern>/EBookStoreDeleteBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EBookStoreUpdateBooks</servlet-name>
        <url-pattern>/EBookStoreUpdateBooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
